html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1 {
    color: black;
    background-color: rgb(191, 248, 245);
    text-align: left;
    width: 285px;
    padding: 10px;
    border: 4px solid yellow;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*Had problems with background color being from left to right, fixed it with width*/

h2, h3 {
    font-size: 25px;
    color: black;
    background-color: rgb(191, 248, 245);
    text-align: left;
    width: 210px;
    padding: 10px;
    border: 4px solid rgb(245, 203, 119);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/*Important to put COMMA between for CSS to work*/

.main-picture {
   display: block;
   margin: auto;
   border: 3px dotted orange;
}
/*Centered the main image of dish*/

p {
    font-size: 20px;
    text-align: left;
    margin: 15px;
}

li {
    font-size: 20px;
    margin: 7px;
    height: 30px;
}

blockquote, li, .lemontiramisu {
    height: auto;
    width: 1400px;
    margin: 5px;
}
/*Was changing a lot - used more specificity to add to "Lemon Tiramisu Recipe" different style. Problems with "li",
to be exact, had problem with border, margin and padding.
Finally realized that the computed layout was not wide enough for all the content, what messed up everything.
Had to visualize a box. Then it worked.*/